In [56]:
import pandas as pd 
import numpy as np
import os
import nltk
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from textblob import TextBlob
import re
import string

In [57]:
reviewdata=pd.read_csv('review.csv')

In [58]:
reviewdata.shape

(1270, 2)

In [59]:
reviewdata.head()

,College Name,Reviews
0,"Datta Meghe College of Engineering, Navi Mumbai",If u want to go to a disciplined college...
1,"Datta Meghe College of Engineering, Navi Mumbai",I completed my final year in Electronics...
2,"Datta Meghe College of Engineering, Navi Mumbai","Hi friends, I am studying in this colleg..."
3,"Datta Meghe College of Engineering, Navi Mumbai",Our college is best known to do enjoymen...
4,"Datta Meghe College of Engineering, Navi Mumbai",Good college with great placement.it has...

In [60]:
def text_clean_1(text):
    text=text.lower()
    text=re.sub('\[.*?\]','',text)                                  
    text=re.sub('[%s]'% re.escape(string.punctuation),'',text)      
    text=re.sub('\w*\d\w*','',text)                                 
    text=re.sub('[''""...]','',text)                                
    text=text=re.sub('\n','',text) 
    text=text=re.sub('\r','',text)
    text=text.split()
    ps=PorterStemmer()
    review=[ps.stem(word) for word in text if not word in set(stopwords.words('english'))]
    text=' '.join(review)

                                         
    return text

cleaned=lambda x:text_clean_1(x)

In [61]:
reviewdata['cleaned_data']=pd.DataFrame(reviewdata.Reviews.apply(cleaned))
reviewdata.head(10)

,College Name,Reviews,cleaned_data
0,"Datta Meghe College of Engineering, Navi Mumbai",If u want to go to a disciplined college...,u want go disciplin colleg want indulg seriou ...
1,"Datta Meghe College of Engineering, Navi Mumbai",I completed my final year in Electronics...,complet final year electron engin dmce year co...
2,"Datta Meghe College of Engineering, Navi Mumbai","Hi friends, I am studying in this colleg...",hi friend studi colleg one thing make colleg o...
3,"Datta Meghe College of Engineering, Navi Mumbai",Our college is best known to do enjoymen...,colleg best known enjoy enjoy refer parti play...
4,"Datta Meghe College of Engineering, Navi Mumbai",Good college with great placement.it has...,good colleg great placementit ground sportscan...
5,"Datta Meghe College of Engineering, Navi Mumbai",The college has got a new building but i...,colleg got new build wifi servic availablegues...
6,"Datta Meghe College of Engineering, Navi Mumbai",The festivals mentioned were quite decent this...,festiv mention quit decent yearespeci tech fes...
7,"Datta Meghe College of Engineering, Navi Mumbai",the canteen is changed now..a much better and ...,canteen chang nowa much better larger oneso gu...
8,"Datta Meghe College of Engineering, Navi Mumbai",This college is the next best college for CIVI...,colleg next best colleg civil autonom institut
9,"Datta Meghe College of Engineering, Navi Mumbai",There are some reputed companies which recruit...,reput compani recruit student colleg overal ni...

In [62]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [63]:
analyzer=SentimentIntensityAnalyzer()

def score_comp(text):
    blob = analyzer.polarity_scores(text)
    return blob['compound']
        
sent4=lambda x:score_comp(x)

In [64]:
reviewdata['Sentiment_v_compound']=pd.DataFrame(reviewdata.Reviews.apply(sent4))
reviewdata.head(10)

,College Name,Reviews,cleaned_data,Sentiment_v_compound
0,"Datta Meghe College of Engineering, Navi Mumbai",If u want to go to a disciplined college...,u want go disciplin colleg want indulg seriou ...,0.9274
1,"Datta Meghe College of Engineering, Navi Mumbai",I completed my final year in Electronics...,complet final year electron engin dmce year co...,0.9709
2,"Datta Meghe College of Engineering, Navi Mumbai","Hi friends, I am studying in this colleg...",hi friend studi colleg one thing make colleg o...,0.9489
3,"Datta Meghe College of Engineering, Navi Mumbai",Our college is best known to do enjoymen...,colleg best known enjoy enjoy refer parti play...,0.9892
4,"Datta Meghe College of Engineering, Navi Mumbai",Good college with great placement.it has...,good colleg great placementit ground sportscan...,0.9493
5,"Datta Meghe College of Engineering, Navi Mumbai",The college has got a new building but i...,colleg got new build wifi servic availablegues...,0.7964
6,"Datta Meghe College of Engineering, Navi Mumbai",The festivals mentioned were quite decent this...,festiv mention quit decent yearespeci tech fes...,0.6901
7,"Datta Meghe College of Engineering, Navi Mumbai",the canteen is changed now..a much better and ...,canteen chang nowa much better larger oneso gu...,0.5859
8,"Datta Meghe College of Engineering, Navi Mumbai",This college is the next best college for CIVI...,colleg next best colleg civil autonom institut,0.6369
9,"Datta Meghe College of Engineering, Navi Mumbai",There are some reputed companies which recruit...,reput compani recruit student colleg overal ni...,0.4215

In [65]:
def score(text):
    blob = TextBlob(text)
    score=round(blob.sentiment.polarity,4)
    return score
    
sent=lambda x:score(x)

In [66]:
reviewdata['Sentiment']=pd.DataFrame(reviewdata.Reviews.apply(sent))
reviewdata.head(10)

,College Name,Reviews,cleaned_data,Sentiment_v_compound,Sentiment
0,"Datta Meghe College of Engineering, Navi Mumbai",If u want to go to a disciplined college...,u want go disciplin colleg want indulg seriou ...,0.9274,0.2714
1,"Datta Meghe College of Engineering, Navi Mumbai",I completed my final year in Electronics...,complet final year electron engin dmce year co...,0.9709,0.1824
2,"Datta Meghe College of Engineering, Navi Mumbai","Hi friends, I am studying in this colleg...",hi friend studi colleg one thing make colleg o...,0.9489,0.3250
3,"Datta Meghe College of Engineering, Navi Mumbai",Our college is best known to do enjoymen...,colleg best known enjoy enjoy refer parti play...,0.9892,0.2778
4,"Datta Meghe College of Engineering, Navi Mumbai",Good college with great placement.it has...,good colleg great placementit ground sportscan...,0.9493,0.6143
5,"Datta Meghe College of Engineering, Navi Mumbai",The college has got a new building but i...,colleg got new build wifi servic availablegues...,0.7964,0.1730
6,"Datta Meghe College of Engineering, Navi Mumbai",The festivals mentioned were quite decent this...,festiv mention quit decent yearespeci tech fes...,0.6901,0.5383
7,"Datta Meghe College of Engineering, Navi Mumbai",the canteen is changed now..a much better and ...,canteen chang nowa much better larger oneso gu...,0.5859,0.2500
8,"Datta Meghe College of Engineering, Navi Mumbai",This college is the next best college for CIVI...,colleg next best colleg civil autonom institut,0.6369,0.4667
9,"Datta Meghe College of Engineering, Navi Mumbai",There are some reputed companies which recruit...,reput compani recruit student colleg overal ni...,0.4215,0.3000

In [67]:
analyzer = SentimentIntensityAnalyzer()
def feedback(text):
    blob = analyzer.polarity_scores(text)
    if(blob['neg']>=blob['pos']) and (blob['neg']>=blob['neu']):
         return "negative"
    elif(blob['pos']>=blob['neg']) and (blob['pos']>=blob['neu']):
        return "positive"
    else:
        return "neutral"

sent1=lambda x:feedback(x)

In [68]:
reviewdata['Feedback']=pd.DataFrame(reviewdata.Reviews.apply(sent1))
reviewdata[:10]

,College Name,Reviews,cleaned_data,Sentiment_v_compound,Sentiment,Feedback
0,"Datta Meghe College of Engineering, Navi Mumbai",If u want to go to a disciplined college...,u want go disciplin colleg want indulg seriou ...,0.9274,0.2714,neutral
1,"Datta Meghe College of Engineering, Navi Mumbai",I completed my final year in Electronics...,complet final year electron engin dmce year co...,0.9709,0.1824,neutral
2,"Datta Meghe College of Engineering, Navi Mumbai","Hi friends, I am studying in this colleg...",hi friend studi colleg one thing make colleg o...,0.9489,0.3250,neutral
3,"Datta Meghe College of Engineering, Navi Mumbai",Our college is best known to do enjoymen...,colleg best known enjoy enjoy refer parti play...,0.9892,0.2778,neutral
4,"Datta Meghe College of Engineering, Navi Mumbai",Good college with great placement.it has...,good colleg great placementit ground sportscan...,0.9493,0.6143,neutral
5,"Datta Meghe College of Engineering, Navi Mumbai",The college has got a new building but i...,colleg got new build wifi servic availablegues...,0.7964,0.1730,neutral
6,"Datta Meghe College of Engineering, Navi Mumbai",The festivals mentioned were quite decent this...,festiv mention quit decent yearespeci tech fes...,0.6901,0.5383,neutral
7,"Datta Meghe College of Engineering, Navi Mumbai",the canteen is changed now..a much better and ...,canteen chang nowa much better larger oneso gu...,0.5859,0.2500,neutral
8,"Datta Meghe College of Engineering, Navi Mumbai",This college is the next best college for CIVI...,colleg next best colleg civil autonom institut,0.6369,0.4667,neutral
9,"Datta Meghe College of Engineering, Navi Mumbai",There are some reputed companies which recruit...,reput compani recruit student colleg overal ni...,0.4215,0.3000,neutral

In [69]:
pos,neg,neu=0,0,0
for i in reviewdata["Sentiment_v_compound"]:
    if i<0:
        neg=neg+1
    elif i==0:
        neu=neu+1
    else:
        pos=pos+1

In [70]:
pos

1116

In [71]:
neu

17

In [72]:
neg

137

In [73]:
college_names=set(reviewdata['College Name'])

In [74]:
college=reviewdata.groupby("College Name")["Reviews"].count()
college

College Name
AP Shah Institute of Technology, Thane                                        36
Atharva College of Engineering, Malad                                         39
Bharati Vidyapeeth College of Engineering, Navi Mumbai                        32
Datta Meghe College of Engineering, Navi Mumbai                               60
Don Bosco Institute of Technology, Mumbai                                     37
Dwarkadas J Sanghvi College of Engineering, Mumbai                            30
Fr C Rodrigues Institute of Technology, Navi Mumbai                           42
Institute of Chemical Technology, Mumbai                                      48
KC College of Engineering and Management Studies and Research, Thane          40
KJ Somaiya College of Engineering, Mumbai                                     54
KJ Somaiya Institute of Engineering and Information Technology, Mumbai        46
Lokmanya Tilak College of Engineering, Navi Mumbai                            42
MCTs Rajiv Gandhi Institute of Technology, Mumbai                             33
MH Saboo Siddik College of Engineering, Mumbai                                40
Padmabhushan Vasantdada Patil Pratishthan's College of Engineering, Mumbai    36
Pillai College of Engineering, New Panvel                                     37
Ramrao Adik Institute of Technology, Navi Mumbai                              45
Rizvi College of Engineering, Bandra                                          33
SIES Graduate School of Technology, Navi Mumbai                               33
Saraswati College of Engineering, Navi Mumbai                                 35
Sardar Patel Institute of Technology, Mumbai                                  40
Shivajirao S Jondhale College of Engineering, Thane                           35
Smt Indira Gandhi College of Engineering, Navi Mumbai                         30
St Francis Institute of Technology, Mumbai                                    32
Terna Public Charitable Trust's Terna Engineering College, Navi Mumbai        45
Thadomal Shahani Engineering College, Mumbai                                  51
Thakur College of Engineering and Technology, Mumbai                          71
Veermata Jijabai Technological Institute, Mumbai                              49
Vidyalankar Institute of Technology, Mumbai                                   35
Vivekanand Education Society's Institute of Technology, Chembur               49
Xavier Institute of Engineering, Mumbai                                       35
Name: Reviews, dtype: int64

In [75]:
cn1=[]
cr1=[]
cn2=[]
cr2=[]
dict={'College Name':cn1,'Rate':cr1}
dict_s={'College Name':cn2,'Rating':cr2}

In [76]:
college=reviewdata.groupby("College Name")
dict_c={}

for i in college_names:
    l=[]
    c=college.get_group(i)
    for j in c.Sentiment_v_compound:
        l.append(j)
    dict_c[i]=l

In [77]:
for i in dict_c:
    avg=((sum(dict_c[i])/len(dict_c[i]))*5)
    cn1.append(i)
    avg=round(avg,1)
    dict_c[i]=avg
    cr1.append(avg)
    print(i+"->"+str(avg))

Vidyalankar Institute of Technology, Mumbai ->4.3
Veermata Jijabai Technological Institute, Mumbai ->4.3
Rizvi College of Engineering, Bandra->3.5
Thadomal Shahani Engineering College, Mumbai->3.8
Atharva College of Engineering, Malad->3.6
SIES Graduate School of Technology, Navi Mumbai->2.8
Dwarkadas J Sanghvi College of Engineering, Mumbai ->4.1
KJ Somaiya College of Engineering, Mumbai ->4.2
Sardar Patel Institute of Technology, Mumbai->4.2
Don Bosco Institute of Technology, Mumbai->3.6
Smt Indira Gandhi College of Engineering, Navi Mumbai->2.0
AP Shah Institute of Technology, Thane->3.1
Padmabhushan Vasantdada Patil Pratishthan's College of Engineering, Mumbai->2.9
KJ Somaiya Institute of Engineering and Information Technology, Mumbai->4.1
Ramrao Adik Institute of Technology, Navi Mumbai ->3.8
Lokmanya Tilak College of Engineering, Navi Mumbai->1.5
Institute of Chemical Technology, Mumbai->4.4
Xavier Institute of Engineering, Mumbai->3.2
KC College of Engineering and Management Studies and Research, Thane->2.5
MCTs Rajiv Gandhi Institute of Technology, Mumbai->3.1
Fr C Rodrigues Institute of Technology, Navi Mumbai ->3.3
Thakur College of Engineering and Technology, Mumbai ->3.7
Terna Public Charitable Trust's Terna Engineering College, Navi Mumbai ->3.1
Saraswati College of Engineering, Navi Mumbai->2.9
Bharati Vidyapeeth College of Engineering, Navi Mumbai->2.6
St Francis Institute of Technology, Mumbai->2.8
Vivekanand Education Society's Institute of Technology, Chembur ->3.8
Shivajirao S Jondhale College of Engineering, Thane->1.4
Pillai College of Engineering, New Panvel ->3.7
MH Saboo Siddik College of Engineering, Mumbai->2.6
Datta Meghe College of Engineering, Navi Mumbai ->3.1

In [78]:
list(reversed(sorted(dict_c,key=dict_c.get)))

['Institute of Chemical Technology, Mumbai',
 'Veermata Jijabai Technological Institute, Mumbai ',
 'Vidyalankar Institute of Technology, Mumbai ',
 'Sardar Patel Institute of Technology, Mumbai',
 'KJ Somaiya College of Engineering, Mumbai ',
 'KJ Somaiya Institute of Engineering and Information Technology, Mumbai',
 'Dwarkadas J Sanghvi College of Engineering, Mumbai ',
 "Vivekanand Education Society's Institute of Technology, Chembur ",
 'Ramrao Adik Institute of Technology, Navi Mumbai ',
 'Thadomal Shahani Engineering College, Mumbai',
 'Pillai College of Engineering, New Panvel ',
 'Thakur College of Engineering and Technology, Mumbai ',
 'Don Bosco Institute of Technology, Mumbai',
 'Atharva College of Engineering, Malad',
 'Rizvi College of Engineering, Bandra',
 'Fr C Rodrigues Institute of Technology, Navi Mumbai ',
 'Xavier Institute of Engineering, Mumbai',
 'Datta Meghe College of Engineering, Navi Mumbai ',
 "Terna Public Charitable Trust's Terna Engineering College, Navi Mumbai ",
 'MCTs Rajiv Gandhi Institute of Technology, Mumbai',
 'AP Shah Institute of Technology, Thane',
 'Saraswati College of Engineering, Navi Mumbai',
 "Padmabhushan Vasantdada Patil Pratishthan's College of Engineering, Mumbai",
 'St Francis Institute of Technology, Mumbai',
 'SIES Graduate School of Technology, Navi Mumbai',
 'MH Saboo Siddik College of Engineering, Mumbai',
 'Bharati Vidyapeeth College of Engineering, Navi Mumbai',
 'KC College of Engineering and Management Studies and Research, Thane',
 'Smt Indira Gandhi College of Engineering, Navi Mumbai',
 'Lokmanya Tilak College of Engineering, Navi Mumbai',
 'Shivajirao S Jondhale College of Engineering, Thane']

In [84]:
for i in dict:
    cn2.append(i)
    cr2.append(dict[i])

In [ ]:
df=pd.DataFrame(dict_s)
df.to_csv('rating.csv')